
.horizont {
    background: #fefced;
    width: auto;
    display: inline-table;
    height: 62px;
}
.qender{
    width:auto;
    text-align:center;
}
img, .divl {
    text-align:center;
    float:left;
    width: 130px;
    background: #e6f2f1;
    height: 50px;
}
.vota {
    display: flex;
    float: none;
    margin: 6px;
    justify-content: center;
}
#votimi-form button {
    background-color: #eeeb6c;
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
